%flex-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn {
    @extend %flex-center;

    padding: 1rem 2.4rem;

    color: var(--text-color-white);
    background-color: var(--btn-background-color);

    font-size: 1.6rem;
    font-weight: 600;

    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    transition: opacity, box-shadow 0.3s, -webkit-opacity, -webkit-box-shadow 0.3s;

    &:hover {
        box-shadow: 0px 6px 24px 0px var(--btn-hover-box-shadow-color);
    }
}

.text {
    padding: 0;

    color: var(--text-color);
    font-weight: 500;
    background-color: transparent;

    &:hover {
        box-shadow: none;
    }
}

.outline {
    border: 0.1rem solid var(--primary-color);

    background-color: transparent;
}

.primary {
    padding: 1.1rem 3.3rem;

    background-color: var(--primary-color);

    font-weight: 500;
}

.gray {
    background-color: var(--btn-gray-background-color);

    &:hover {
        box-shadow: none;
    }
}

.rounded {
    border-radius: 3rem;
}

.icon {
    display: inline-block;
    text-align: center;
}
