.partners {
    background-color: var(--partners-background-color);

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7.4rem;
    }

    &__logo {
        transition: transform 0.5s, -webkit-transform 0.5s;

        &:hover {
            -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
        }
    }
}
