%flex-center {
    display: flex;
    align-items: center;
}

.header {
    padding: 2rem 0 2rem;

    &-hero {
        &__wrap {
            background-color: var(--background-header-hero-color);
        }
    }

    &__inner {
        @extend %flex-center;
    }

    &__cta {
        @extend %flex-center;
        gap: 2.4rem;

        margin-left: auto;
    }

    &__btn {
        &--signin {
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
        }
    }
}

.navbar {
    &__list {
        display: flex;
        gap: 2.4rem;

        margin-left: 15.5rem;
    }

    &__item {
        &--current .navbar__link {
            color: var(--navbar-item-color-hover);
        }

        &:hover .navbar__link {
            color: var(--navbar-item-color-hover);
        }
    }

    &__link {
        padding: 1rem;
        color: var(--navbar-item-color);
        font-size: 1.6rem;
        font-weight: 500;
        transition: color 0.3s, -webkit-color 0.3s;
    }
}
