%flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    &__title {
        &--small {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: normal;

            color: var(--primary-color);
        }

        &--large {
            margin-top: 1.4rem;

            font-size: 4rem;
            font-weight: 600;
            line-height: 130%;

            color: var(--text-color);
        }
    }

    &__desc {
        max-width: 83.5rem;
        margin-top: 2.4rem;
        text-align: center;

        font-size: 2rem;
        font-weight: 500;
        line-height: 150%;

        color: var(--text-description);
    }
}

.introduce {
    margin-top: 2rem;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__first {
        position: relative;
        padding: 6.8rem 8.6rem;

        color: var(--text-color-white);
        background-color: var(--about-introduce-first-background-color);

        &-desc {
            max-width: 82.8rem;
            margin-top: 2rem;

            font-size: 1.6rem;
            font-weight: 500;
            line-height: 150%;
        }
    }

    &__second {
        padding: 4.9rem 0 7.6rem;

        color: var(--text-color);
        background-color: var(--about-introduce-second-background-color);

        &-desc {
            width: 54.5rem;
            margin-top: 2rem;

            font-size: 1.6rem;
            font-weight: 400;
            line-height: 150%;
        }
    }

    &__title {
        &--small {
            font-size: 2rem;
            font-weight: 500;
            line-height: 150%;

            color: var(--about-introduce-title-small-color);
        }

        &--medium {
            max-width: 45.7rem;
            margin-top: 1rem;

            font-size: 3.4rem;
            font-weight: 600;
            line-height: 152.941%;
        }

        &--large {
            max-width: 84.6rem;
            margin-top: 1rem;

            font-size: 4rem;
            font-weight: 700;
            line-height: 150%;
        }
    }

    &__decor {
        position: absolute;

        &:first-of-type {
            top: 4rem;
            right: 19.5rem;
        }

        &:nth-of-type(2) {
            bottom: 0;
            right: 0.2rem;
        }
    }

    &__data {
        display: flex;
        gap: 13.7rem;

        margin-top: 5.4rem;

        &-wrap {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__number {
        color: var(--primary-color);
        font-size: 4rem;
        font-weight: 700;
        line-height: 150%;
    }

    &__category {
        color: var(--text-description);
        font-size: 2rem;
        font-weight: 600;
        line-height: 150%;
    }
}

.goal {
    padding: 5rem 0 6.6rem;

    background-color: var(--about-goal-background-color);

    &__inner {
        @extend %flex-column-center;
    }

    &__list {
        width: 100%;
        display: grid;
        // grid-template-columns: repeat(38rem, 28rem, 19rem, 1fr);
        grid-template-rows: repeat(2, 21.4rem);
        gap: 1.6rem;
        margin-top: 5.1rem;
    }

    &__item {
        border-radius: 0.8rem;
        overflow: hidden;

        &:first-of-type {
            grid-row: span 2;
        }

        &:nth-of-type(2) {
            grid-row: 1/2;
            grid-column: 2/3;
        }

        &:nth-of-type(3) {
            width: 28rem;
            grid-row: 2/2;
            grid-column: 2/3;
        }

        &:nth-of-type(4) {
            width: 19rem;
            grid-row: 1/2;
            grid-column: 3/4;
        }

        &:nth-of-type(5) {
            width: 27.2rem;
        }

        &:nth-of-type(6) {
            grid-column: 3/5;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.teacher {
    padding: 7rem 0 6rem;

    background-color: var(--about-teacher-background-color);

    &__inner {
        @extend %flex-column-center;
    }

    &__list {
        display: flex;
        gap: 3rem;

        margin-top: 4rem;
    }

    &__item {
        @extend %flex-column-center;

        width: 29.6rem;
    }

    &__image {
        width: 100%;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__name {
        margin-top: 3rem;

        font-size: 2rem;
        font-weight: 600;
        line-height: 100%;

        color: var(--text-color);
    }

    &__desc {
        max-width: 23.7rem;
        margin-top: 1rem;
        text-align: center;

        font-size: 1.4rem;
        line-height: 142.857%;

        color: var(--text-description);
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        margin-top: 2.4rem;
    }
}

.partner {
    padding: 4.9rem 0 4.4rem;

    background-color: var(--about-partner-background-color);

    &__inner {
        @extend %flex-column-center;
    }

    &__logo {
        margin-top: 4.8rem;
    }
}
